@media only screen and (min-width:500px) {
  .rwcards, .rwcardsfull {
    border: 1px #999 solid;
    font-size: 12px;
  }
  .rwcardsImage {
    border: 1px #999 solid;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  * html .rwcardsfull/* this is recognized by IE only */
    {
    width: auto;
    /* total width, only for IE5.x/Win */
    w\idth: auto;
    /* content width for other IE */
  }
  .rwcardsfull {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-gap: 10px;
  }
  .rwcards/* this is recognized by IE only */
    {
    width: auto;
    /* total width, only for IE5.x/Win */
    w\idth: auto;
    /* content width for other IE */
  }
  .rwcards {
    height: 158px;
    width: 208px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .rwcardsLeftForm {
    width: auto;
  }
  .rwcardsBorder {
    border: dotted 1px black;
  }
  .rwcardsRightForm {
    width: auto;
  }
  .rwcards_buttons_bottom {
    margin-top: 20px;
    padding-top: 8px;
    margin-bottom: 5px;
    border-top: 1px #999 dotted;
    font-size: 12px;
    text-align: center;
  }
  .selectbox {
    font-size: 12px;
  }
  .rwcards_inputbox {
    width: 210px;
    border: 1px groove black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    size: 12px;
  }
  .rwcards_button, .rwcardsLink {
    width: 150px;
    border: 1px groove black;
  }
  .rwcards_buttons_bottom {
    margin-top: 20px;
    padding-top: 8px;
    margin-bottom: 5px;
    border-top: 1px #999 dotted;
    font-size: 12px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #rwCardsBack, #rwCardsPreviewCard, #rwCardsSendCard, #rwcardsGoBack, #rwcardsSend, #showFrontCard, #showBackCard, #rwcardsReWriteCard, #moreReceivers, #lessReceivers {
    cursor: pointer;
  }
  #ctrl_rwMessage {
    height: auto;
  }
  .rwcardsReceiver {
    display: inherit;
    /* req by safari for cloning */
  }
  #moreReceivers, #lessReceivers {
    font-weight: bold;
  }
  #captcha_caption {}
  #rwcardsCaptchaImage {}
  #rwcardsCaptchaImage img {}
  #rwcardsCaptchaInputLabel {}
  #rwcardsCaptchaInput {}
  #rwcardsCaptchaHints {}
}

div.validation-advice {
  color: red;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px;
  width: auto;
}

.rwCardsErrorCaptchaError {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

p.error {
  color: red;
  font-weight: bold;
}

.rwcardsImage img {
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  width: 100%;
}
