#card-heading {	font-weight:bold;	margin-bottom: 1em;}
#card-list {	margin-bottom: 1.5em;text-align:center;float: left;}
.card{padding: 5px; clear:none;  float:left;}
#category-box {float: right;font-size: 80%;padding: 10px 0;}
img.img-thumb {	border: 1px solid black; margin:5px;}
.send-this-img {	float:left; display:inline; width:165px; margin:0 5px 5px 5px; padding-bottom:10px; text-align: center}
#limit {	text-align:center;}
#limit ul.pagination li {float: none !important;display: inline;}