.rwcards, .rwcardsfull {
  border: 1px #999 solid;
  font-size: 12px;
}

.rwcardsImage {
  border: 1px #999 solid;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
}

* html .rwcardsfull
/* this is recognized by IE only */

  {
  width: 415px;
  /* total width, only for IE5.x/Win */
  w\idth: 415px;
  /* content width for other IE */
}

.rwcardsfull {
  width: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

* html .rwcards
/* this is recognized by IE only */

  {
  width: 190px;
  /* total width, only for IE5.x/Win */
  w\idth: 190px;
  /* content width for other IE */
}

.rwcards {
  height: 200px;
  width: 208px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rwcardsViewWrapper {
    margin: 0 0 10px 0;
}

.rwcardsLeftForm {
  width: auto;
}
.rwcardsBorder{
    border: 1px #999 dotted;
}
.rwcardsRightForm {
  height: auto;
  min-height: 220px;
  width: auto;
}

.rwcards_buttons_bottom {
  border-top: 1px #999 dotted;
  display: grid;
  font-size: 12px;
  grid-template-columns: 100%;
  padding-top: 8px;
}

.rwcards_buttons {
    align-self: center;
    justify-self: center;
}

.selectbox {
  font-size: 12px;
}

.rwcardsClr {
  clear: both;
}

.rwcards_button, .rwcardsLink {
  /* same as rwcards_button in other style sheet*/
  border: 1px groove black;
  width: 150px;
}

.rwcardsLink {
  border: 0px;
  font: bold 12px Verdana;
}

.rwcardsLink:hover {
  color: #135CAE;
  font: bold 12px Verdana;
}

#rwCardsBack, #rwCardsPreviewCard, #rwCardsSendCard, #rwcardsGoBack, #rwcardsSend, #showFrontCard, #showBackCard, #rwcardsReWriteCard {
  cursor: pointer;
}

#frontCard img.thecard {
  border: 1px solid black;
}

.rw_date {
  float: right;
  font-weight: bold;
  padding: 0 5px 0 0;
}

p.rw_from {
  font-weight: bold;
}

span.rw_label {
  /* labels like "Your Name", "Message", "Recipient Name" */
}

p.rw_from span.rw_from_name {}

p.rw_from span.rw_from_email {}

p.rw_message {
  font-weight: bold;
}

p.rw_message span.rw_text {}

p.rw_postmark {
  text-align: right;
}

p.rw_to {
  font-weight: bold;
  text-align: right;
}

/* each receiver in the preview page is inside one of these: */

p.rw_receiver {
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
  padding-right: 5px;
}

p.rw_receiver span.rw_to_name {}

p.rw_receiver span.rw_to_email {}

div.rw_reply_now div.rw_reply_image {
  text-align: right;
  padding-right: 5px;
}

div.rw_reply_now div.rw_reply_text {
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
}

#rwcardsReWriteCard {
  margin-top: 1em;
}
